<!DOCTYPE html>
<html>  
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/style.css">
</head>
<div class="sidenav">
  <a href="../templates/index.html">Ev</a>
  <a href="../templates/about.html">Hakkında</a>
  <a href="../templates/contact.html">İletişim</a>
</div>
<div class="main">
    <header class="header">
    <div class="header__text">
      <h1>Sence neden?</h1>
      <p>Bu projeyi iklim değişikliği hakkında yapıyorum çünkü bu konu, günümüzde gezegenimizin karşı karşıya olduğu en acil ve en önemli sorunlardan biridir. 
        Artan sıcaklıklar, aşırı hava olayları, buzulların erimesi ve deniz seviyelerinin yükselmesi, dünyadaki insanları, hayvanları ve ekosistemleri şimdiden etkilemektedir. 
        Bu projeyle iklim değişikliği hakkında daha fazla bilgi edinmeyi, nedenlerini, etkilerini ve çözümlerini öğrenmeyi ve farkındalık yaratmayı amaçlıyorum. 
        Çevremizi gelecek nesiller için korumak hepimizin sorumluluğudur.</p>
    </div>
  </header>
</html>