<!DOCTYPE html>
<html>  
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div class="sidenav">
  <a href="../templates/index.html">Menü</a>
  <a href="../templates/about.html">Hakkında</a>
  <a href="../templates/contact.html">İletişim</a>
</div>
  <h1 align="middle">BİLGİ YARIŞMASI</h1>
  <div class="button">
    <a href="../templates/airpollution.html">
    <img src="../static/wind-turbine.svg", width=200 , height=240>
    <br>
    Hava Kirliliği</a>
  </div>
  <div class="button button1">
    <a href="../templates/earthpollution.html">
    <img src="../static/plant-development.svg", width=200 , height=240>
    <br>
    Toprak Kirliliği</a>
  </div>
  <div class="button button2">
    <a href="../templates/earthpollution.html">
    <img src="../static/thermometer.svg", width=200 , height=240>
    <br>
    Küresel Isınma</a>
  </div>

</body>
</html>